.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.welcome__user {
  font-family: inherit;
  color: #3b6caa;
}

@media (max-width: 992px) {
  .checkout {
    flex-flow: column;
    align-items: center;
  }
  .checkout__right {
    margin: 40px;
  }
}